<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu_Select_Option</title>
</head>
<body>
    <h1>Menu_Select_Option</h1>
    <div>hello world2</div>
    <form action="/Menu_Select_Option", method="post">
        <div class="field">
            <input type="radio" name="Option_Select" value="1">
            <label>Hot</label>
        </div>
        <div class="field">
            <input type="radio" name="Option_Select" value="0">
            <label>Ice</label>
        </div>
        <input type="submit">
    </form>
</body>
</html>
