@charset "utf-8";

/* Font */
@font-face {
    font-family: 'GongGothicLight';
    src: url("/static/css/font/GongGothicLight.woff");
    font-weight: normal;
    font-style: normal;
}

/* html코드 전체 적용 */
html *{
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: none;
}
/* 화면 크기, 색 */
#wrap {
    width: 1920px;
    height: 1080px;
    background-color: rgb(246, 243, 238);
}
#canvas {
    width: 1920px;
    height: 1080px;
    background-color: rgb(246, 243, 238);
}
/* 이미지 hidden처리 시 사용 */
.img_relative{
    top: 0;
    left: 0;
}
/* z_index값을 통한 우선순위 선정 */
.z_top{
    z-index: 10;
}

.z_back{
    z-index: 0;
}
/* Font Size별 분류 */
.font_100{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 74pt;
    color: rgb(116, 72, 33);
}

.font_80{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 59pt;
    color: rgb(116, 72, 33);
}

.font_70{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 52pt;
    color: rgb(116, 72, 33);
}

.font_60{
    font-size: 44pt;
    font-family: 'GongGothicLight', sans-serif;
    color: rgb(116, 72, 33);
}
.font_50{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 37pt;
    color: rgb(116, 72, 33);
}

.font_40{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 30pt;
    color: rgb(116, 72, 33);
}

.font_35{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 26pt;
    color: rgb(116, 72, 33);
}

.font_30{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 24pt;
    color: rgb(116, 72, 33);
}

.font_25_yellow{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 18.5pt;
    color: rgb(223, 180, 142);
}

.font_20_yellow{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 15pt;
    color: rgb(223, 180, 142);
}

.font_50_red{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 37pt;
    color: rgb(192,104,90);
}

.font_40_red{
    font-family: 'GongGothicLight', sans-serif;
    font-size: 30pt;
    color: rgb(192,104,90);
}

.font_30_red{
    font-family: 'GongGothicLight', sans-serif;
    color: rgb(192,104,90);
    font-size: 24pt;
}



