<html>

<head>
    <title>제목</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Confirm_Order.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onload="init();" oncontextmenu='return false' onselectstart='return false' ondragstart='return false'> <!--시작시 init()실행 / 우클릭,드래그,선택 방지 -->
    <div id="wrap">
        <!-- 좌단 -->
        <div id="left_img">
            <p id="order_confirm" class="font_70">주문 확인</p>
        </div>

        <p id="take_out1" class="font_50">예상 테이크 아웃<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시간은</p>

        <p id="take_out2" class="font_70">4'30"</p> <!-- 수정 항목 -->

        <p id="take_out3" class="font_50">후 입니다.</p>

        <img src="/static/imgs/ROBA_2-1_bgLine.png" alt="logo" id="line" />

        <!-- 우단 -->
        <p id="amekor" class="font_60">아메리카노</p>
        <p id="americano" class="font_40">Americano</p>

        <img hidden id="hot" name="hot" alt="logo" src="/static/imgs/ROBA_3_hot.gif" />
        <img hidden id="ice" name="ice" alt="logo" src="/static/imgs/ROBA_3_ice.gif" />
        <div class="img_round_fill">
            <img id="img_round_0_fill" class="fill" alt="fill_0" src="static/imgs/ROBA_3_coffee1.png"/>
            <img id="img_round_1_fill" class="fill" alt="fill_1" src="static/imgs/ROBA_3_coffee2.png"/>
            <img id="img_round_2_fill" class="fill" alt="fill_2" src="static/imgs/ROBA_3_coffee3.png"/>    
        </div>
        <img id="can" alt="logo" src="/static/imgs/ROBA_3_can_empty.png" />

        <!-- 커피 변경시 수정항목 -->
        <p class="name hot_ice font_40">선택한 음료</p>
        <p class="name tera font_40">{{name_blend_0}}</p>
        <p class="name brazil font_40">{{name_blend_1}}</p>
        <p class="name burunde font_40">{{name_blend_2}}</p>
        <p id="hot_ice" class="value hot_ice font_40">{{option}}</p>
        <p id="text_blender_0_percent" class="value percent tera font_50">{{blender_1}}%</p>
        <p id="text_blender_1_percent" class="value percent brazil font_50">{{blender_2}}%</p>
        <p id="text_blender_2_percent" class="value percent burunde font_50">{{blender_3}}%</p>

        <div class= "back_btn" id="back_btn_id">
            <img hidden="hidden" class="img_relative" name="back_btn_not_clicked" alt="btn" src="/static/imgs/ROBA_3_button_back.png" />    <!--안눌렸을 때-->
            <img hidden="hidden" class="img_relative" name="back_btn_clicked" alt="btn" src="/static/imgs/ROBA_3_button_back_pushed.png"/>
        </div>
        <div class="btn" id="btn_id">
            <img hidden="hidden" class="img_relative" name="btn_not_clicked" alt="btn" src="/static/imgs/ROBA_3_button.png" />              <!--안눌렸을 때-->
            <img hidden="hidden" class="img_relative" name="btn_clicked" alt="btn" src="/static/imgs/ROBA_3_button_order.png" />
        </div>

    </div>
    
    <script src="/static/script/jquery-3.6.0.min.js"></script>
    <script src="/static/script/Common.js"></script>
    <script src="/static/script/Confirm_Order.js"></script>

</body>

</html>