<html>

<head>
    <title>제목</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Cant_Order.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div id="wrap">

        <p id="state" class="font_50">로바는 지금 캔이 없는 상태입니다 :'(</p>

        <img id="roba_Logo" alt="logo" src="/static/imgs/roba_Logo.svg" />

        <img id="line_Animation" alt="line" src="/static/imgs/err_line.gif"/>

        <div id="order_stop"></div>

        <script type="text/javascript">

            window.onload = function () {
                cnt_init();
                countdown('/Order_Timeout');
            }

           

            
        </script>
        <script src="/static/script/Common.js"></script>

</body>

</html>