<html>

<head>
    <title>제목</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Complete_Order.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onload="init();" oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div id="wrap">
        <div id="line" class="line z-top">
            <img hidden="hidden" class="img_releative" name="loading_line" alt="line" src="/static/imgs/ROBA_4_ending.gif" />
            <img hidden="hidden" id="line_change" class="img_releative" name="complete_line" alt="line" src="/static/imgs/ROBA_2-2_line.png" />
        </div>

        <p id="thanks" class="font_40">감사합니다.</p>
        <p id="state" class="font_100">주문이 완료되었습니다.</p>

        <img alt="logo" id="roba_Logo" src="/static/imgs/ROBA_4_endingLogo.svg" />

    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/script/Common.js"></script>
    <script src="/static/script/Complete_Order.js"></script>
</body>

</html>