<html>

<head>
    <title>제목</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Confirm_Order.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onload="init();" oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div id="wrap">

        <div id="left_img">
            <p id="order_confrim" class="font_70">주문 확인</p>
        </div>

        <p id="take_out1" class="font_50">예상 테이크 아웃<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시간은</p>

        <p id="take_out2" class="font_70">4'30"</p>

        <p id="take_out3" class="font_50">후 입니다.</p>

        <img src="/static/imgs/ROBA_2-1_bgLine.png" alt="logo" id="line" />

        <p id="amekor" class="font_60">아메리카노</p>
        <p id="americano" class="font_40">Americano</p>

        <img hidden id="hot" name="hot" alt="logo" src="/static/imgs/ROBA_3_hot.gif" />
        <img hidden id="ice" name="ice" alt="logo" src="/static/imgs/ROBA_3_ice.gif" />
        <div class="img_round_fill">
            <img id="img_round_0_fill" class="fill" alt="fill_0" src="static/imgs/ROBA_3_coffee1.png"/>
            <img id="img_round_1_fill" class="fill" alt="fill_1" src="static/imgs/ROBA_3_coffee2.png"/>
            <img id="img_round_2_fill" class="fill" alt="fill_2" src="static/imgs/ROBA_3_coffee3.png"/>    
        </div>
        <img id="can" alt="logo" src="/static/imgs/ROBA_3_can_empty.png" />

        <p class="name hot_ice font_40">선택한 음료</p>
        <p class="name tera font_40">테라로사 에티오피아</p>
        <p class="name brazil font_40">브라질 산토스</p>
        <p class="name burunde font_40">커피창고 부룬디</p>
        <p id="hot_ice" class="value hot_ice font_40">{{option}}</p>
        <p id="text_blender_0_percent" class="value percent tera font_50">{{blender_1}}%</p>
        <p id="text_blender_1_percent" class="value percent brazil font_50">{{blender_2}}%</p>
        <p id="text_blender_2_percent" class="value percent burunde font_50">{{blender_3}}%</p>

        <div class= "back_btn" id="back_btn_id">
            <img hidden="hidden" class="img_relative" name="back_btn_not_clicked" alt="btn" src="/static/imgs/ROBA_3_button_back.png" />          <!--안눌렸을 때-->
            <img hidden="hidden" class="img_relative" name="back_btn_clicked" alt="btn" src="/static/imgs/ROBA_3_button_back_pushed.png"/>
        </div>
        <div class="btn" id="btn_id">
            <img hidden="hidden" class="img_relative" name="btn_not_clicked" alt="btn" src="/static/imgs/ROBA_3_button.png" />  <!--안눌렸을 때-->
            <img hidden="hidden" class="img_relative" name="btn_clicked" alt="btn" src="/static/imgs/ROBA_3_button_order.png" />
        </div>

    </div>
    
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/script/Common.js"></script>
    <script type="text/javascript">
        var tem = [window.document.hot, window.document.ice]
        var back_btn = [window.document.back_btn_not_clicked ,window.document.back_btn_clicked]
        var btn = [window.document.btn_not_clicked,window.document.btn_clicked]
        var option = window
            .document
            .getElementById("hot_ice")
            .innerText;
        var timeT = document.getElementById("runningtime");

        var blender_0_value = parseInt(document.getElementById("text_blender_0_percent").innerText);
        var blender_1_value = parseInt(document.getElementById("text_blender_1_percent").innerText);
        var blender_2_value = parseInt(document.getElementById("text_blender_2_percent").innerText);

        function init() {

            img_hide(back_btn);
            img_hide(btn);
        
            back_btn[0].hidden = false;
            btn[0].hidden = false;

            if (option == "Hot") {
                tem[1].hidden = true;
                tem[0].hidden = false;
            } else {
                tem[1].hidden = false;
                tem[0].hidden = true;
            }
            cnt_init();
            countdown('/Order_Timeout');
            
            document.getElementById("back_btn_id").addEventListener("mousedown", function(){mouse_down("1")})
            document.getElementById("btn_id").addEventListener("mousedown", function(){mouse_down("2")})
            document.getElementById("back_btn_id").addEventListener("mouseup", function(){mouse_up("1")})
            document.getElementById("btn_id").addEventListener("mouseup", function(){mouse_up("2")})
            document.getElementById("back_btn_id").addEventListener("mouseleave", function(){mouse_out("1")})
            document.getElementById("btn_id").addEventListener("mouseleave", function(){mouse_out("2")})

            fill_animation("img_round_2_fill", blender_2_value);
            fill_animation("img_round_1_fill", blender_2_value + blender_1_value);
            fill_animation("img_round_0_fill", blender_2_value + blender_1_value + blender_0_value);
        }

       

        function mouse_down(value){
            if(value == "1"){
                img_hide(back_btn);  
                back_btn[1].hidden = false;
            }
            else if(value == "2"){
                img_hide(btn);
                btn[1].hidden = false;     
            }
        }
        
        function mouse_up(value){
            if(value == "1"){
                goBack();
            }
            else if(value == "2"){
                postForm("/Confirm_Order", "");
            }
        }

        function mouse_out(value){
            if(value == "1"){
                img_hide(back_btn);  
                back_btn[0].hidden = false;
            }
            else if(value == "2"){
                img_hide(btn);
                btn[0].hidden = false;
            }
        }
        
        
        function img_hide(array) {
            for (var i = 0; i < array.length; i++) {
                array[i].hidden = true;
            }
        }

       
        

        function fill_animation(id, ratio) {
            id = '#' + id;
            var top_ratio = - 2.25 * ratio;
            console.log(top_ratio);
            $(id).animate({ top: top_ratio}, 200);
        }


        function goBack() {
            sendGet("/Menu_Select_Option");
        }
    </script>

</body>

</html>