<html>

<head>
    <title>제목</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Confirm_Order.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onload="init();" oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div id="wrap">

        <div id="left_img">
            <p id="order_confrim" class="font_70">주문 확인</p>
        </div>

        <p id="take_out1" class="font_50">예상 테이크 아웃<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시간은</p>

        <p id="take_out2" class="font_70">4'30"</p>

        <p id="take_out3" class="font_50">후 입니다.</p>

        <img src="/static/imgs/ROBA_2-1_bgLine.png" alt="logo" id="line" />

        <p id="amekor" class="font_60">아메리카노</p>
        <p id="americano" class="font_40">Americano</p>

        <img hidden id="hot" name="hot" alt="logo" src="/static/imgs/ROBA_3_hot.gif" />
        <img hidden id="ice" name="ice" alt="logo" src="/static/imgs/ROBA_3_ice.gif" />
        <img id="can" alt="logo" src="/static/imgs/ROBA_3_filled_can.png" />

        <p class="name hot_ice font_40">선택한 음료</p>
        <p class="name tera font_40">테라로사 에티오피아</p>
        <p class="name brazil font_40">브라질 산토스</p>
        <p class="name burunde font_40">커피창고 부룬디</p>
        <p id="hot_ice" class="value hot_ice font_40">{{option}}</p>
        <p class="value percent tera font_50">{{blender_1}}%</p>
        <p class="value percent brazil font_50">{{blender_2}}%</p>
        <p class="value percent burunde font_50">{{blender_3}}%</p>

        <div class= "back_btn" id="back_btn_id">
            <img hidden="hidden" class="img_relative" name="back_btn_not_clicked" alt="btn" src="/static/imgs/ROBA_3_button_back.png" />          <!--안눌렸을 때-->
            <img hidden="hidden" class="img_relative" name="back_btn_clicked" alt="btn" src="/static/imgs/ROBA_3_button_back_pushed.png"/>
        </div>
        <div class="btn" id="btn_id">
            <img hidden="hidden" class="img_relative" name="btn_not_clicked" alt="btn" src="/static/imgs/ROBA_3_button.png" />  <!--안눌렸을 때-->
            <img hidden="hidden" class="img_relative" name="btn_clicked" alt="btn" src="/static/imgs/ROBA_3_button_order.png" />
        </div>

    </div>

    <script type="text/javascript">
        var tem = [window.document.hot, window.document.ice]
        var back_btn = [window.document.back_btn_not_clicked ,window.document.back_btn_clicked]
        var btn = [window.document.btn_not_clicked,window.document.btn_clicked]
        var option = window
            .document
            .getElementById("hot_ice")
            .innerText;
        var timeT = document.getElementById("runningtime");

        function init() {

            img_hide(back_btn);
            img_hide(btn);
        
            back_btn[0].hidden = false;
            btn[0].hidden = false;

            if (option == "Hot") {
                tem[1].hidden = true;
                tem[0].hidden = false;
            } else {
                tem[1].hidden = false;
                tem[0].hidden = true;
            }
            cnt = 10;
            //countdown();
            
            document.getElementById("back_btn_id").addEventListener("mousedown", function(){mouse_down("1")})
            document.getElementById("btn_id").addEventListener("mousedown", function(){mouse_down("2")})
            document.getElementById("back_btn_id").addEventListener("mouseup", function(){mouse_up("1")})
            document.getElementById("btn_id").addEventListener("mouseup", function(){mouse_up("2")})
            document.getElementById("back_btn_id").addEventListener("mouseleave", function(){mouse_out("1")})
            document.getElementById("btn_id").addEventListener("mouseleave", function(){mouse_out("2")})
            }

        /*window.onload = function () {
            if (option == "Hot") {
                tem[1].hidden = true;
                tem[0].hidden = false;
            } else {
                tem[1].hidden = false;
                tem[0].hidden = true;
            }

            cnt = 10;
            //countdown();
        }*/

        function mouse_down(value){
            if(value == "1"){
                img_hide(back_btn);  
                back_btn[1].hidden = false;
            }
            else if(value == "2"){
                img_hide(btn);
                btn[1].hidden = false;     
            }
        }
        
        function mouse_up(value){
            if(value == "1"){
                goBack();
            }
            else if(value == "2"){
                sendPost("/Confirm_Order");
            }
        }

        function mouse_out(value){
            if(value == "1"){
                img_hide(back_btn);  
                back_btn[0].hidden = false;
            }
            else if(value == "2"){
                img_hide(btn);
                btn[0].hidden = false;
            }
        }
        
        
        function img_hide(array) {
            for (var i = 0; i < array.length; i++) {
                array[i].hidden = true;
            }
        }

       
        function countdown() {
            if (cnt == 0) {
                sendPost('/Order_Timeout');
            } else {
                setTimeout("countdown()", 1000);
                cnt--;
            }
        } 



        function goBack() {
            sendGet("/Menu_Select_Option");
        }

        function sendPost(action) {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', action);
            document.charset = "utf-8";

            var hiddenField = document.createElement('input');
            hiddenField.setAttribute('type', 'hidden');
            form.appendChild(hiddenField);

            document
                .body
                .appendChild(form);
            form.submit();
        }

        function sendGet(action) {
            var form = document.createElement('form');
            form.setAttribute('method', 'get');
            form.setAttribute('action', action);
            document.charset = "utf-8";

            var hiddenField = document.createElement('input');
            hiddenField.setAttribute('type', 'hidden');
            form.appendChild(hiddenField);

            document
                .body
                .appendChild(form);
            form.submit();
        } 
    </script>

</body>

</html>