<html>
    <head>
        <title>제목</title>
        <meta charset="utf-8"/>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Main.css') }}">
        <!-- <link type="text/css" rel="stylesheet" href="../css/design.css"/> css파일
        불러올때 -->

    </head>

    <body
        onload="init();"
        oncontextmenu='return false'
        onselectstart='return false'
        ondragstart='return false'>
        <div id="wrap">

            <p id="runningtime" style="color: gray; font-size: 40px;">1</p>

            <p id="state" class="font_50">로바는 지금 주문 가능한 상태 입니다 :)</p>

            <img src="/static/imgs/roba_Logo.svg" alt="logo" id="roba_Logo"/>

            <img src="/static/imgs/normal_line.gif" alt="line" id="line_Animation"/>

            <div class="order_confirm" id="order_confirm">
                <img
                    hidden="hidden"
                    src="/static/imgs/ROBA_1_Main_button.png"
                    alt="btn"
                    class="img_relative"
                    name="order"/>

                <img
                    hidden="hidden"
                    src="/static/imgs/ROBA_1_clicked.png"
                    alt="btn_clicked"
                    class="img_relative"
                    name="order_clicked"/>

            </div>

        </div>

        <script type="text/javascript">

            var timeT = document.getElementById("runningtime");


            var order_btn = [window.document.order, window.document.order_clicked];

            function init() {
                console.log("init");
                img_hide(order_btn);

                order_btn[0].hidden = false;

                cnt = 10;
                countdown();

                document
                    .getElementById("order_confirm")
                    .addEventListener("mousedown", function () {
                        order_btn[0].hidden = true;
                        order_btn[1].hidden = false;
                        
                        console.log("down");
                    })
                document
                    .getElementById("order_confirm")
                    .addEventListener("mouseup", function () {
                        sendPost("/Main");
                    })
            }

            function img_hide(array) {
                for (var i = 0; i < array.length; i++) {
                    array[i].hidden = true;
                }
                console.log("hide complete");
            }

            function countdown() {
                if (cnt == 0) {
                    sendGet('/Main');
                } else {
                    timeT.innerText = cnt;
                    setTimeout("countdown()", 1000);
                    cnt--;
                }
            }

            function sendPost(action) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', action);
                document.charset = "utf-8";

                var hiddenField = document.createElement('input');
                hiddenField.setAttribute('type', 'hidden');
                form.appendChild(hiddenField);
                document
                    .body
                    .appendChild(form);
                form.submit();
            }

            function sendGet(action) {
                var form = document.createElement('form');
                form.setAttribute('method', 'get');
                form.setAttribute('action', action);
                document.charset = "utf-8";

                var hiddenField = document.createElement('input');
                hiddenField.setAttribute('type', 'hidden');
                form.appendChild(hiddenField);
                document
                    .body
                    .appendChild(form);
                form.submit();
            }
        </script>

    </body>
</html>