<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Menu_Select_Option</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Menu_Select_Option.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onload="init();" oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div id="option" hidden="hidden">{{option}}</div>
    <div id="wrap">
        <p id="runningtime" style="color: gray; font-size: 40px;">1</p>
        <p class="select_tem font_50">음료 온도 선택</p>
        <img alt="line" class="line" src="/static/imgs/ROBA_2-2_line.png">
        <img alt="backArrow" class="backArrow" src="/static/imgs/ROBA_23_backArrow.png" onclick="sendGet('/Menu_Select_Blending')">

        <div id="radio_hot" class="btn_hot">
            <img hidden="hidden" class="img_relative" name="img_hot_unselect"
                src="/static/imgs/ROBA_2-2_btnUnselected.png">
            <img hidden="hidden" class="img_relative" name="img_hot_selected"
                src="/static/imgs/ROBA_2-2_btnSelected.png">
            <img hidden="hidden" class="img_relative" name="img_hot_clicked" src="/static/imgs/ROBA_2-2_btnClicked.png">
            <img class="hot" src="/static/imgs/ROBA_2-2_hot.png">
        </div>
        <p class="text_hot_americano font_50">뜨거운 아메리카노</p>
        <p class="text_hot font_60">Hot</p>

        <div id="radio_can" class="can">
            <img hidden="hidden" class="img_relative" name="img_can_unselected" src="/static/imgs/ROBA_2-2_can.png">
            <img hidden="hidden" class="img_relative" name="img_hotcan_selected"
                src="/static/imgs/ROBA_2-2_can_hot.gif">
            <img hidden="hidden" class="img_relative" name="img_icecan_selected"
                src="/static/imgs/ROBA_2-2_can_ice.gif">
        </div>

        <div id="radio_ice" class="btn_ice">
            <img hidden="hidden" class="img_relative" name="img_ice_unselect"
                src="/static/imgs/ROBA_2-2_btnUnselected.png">
            <img hidden="hidden" class="img_relative" name="img_ice_selected"
                src="/static/imgs/ROBA_2-2_btnSelected.png">
            <img hidden="hidden" class="img_relative" name="img_ice_clicked" src="/static/imgs/ROBA_2-2_btnClicked.png">
            <img class="ice" src="/static/imgs/ROBA_2-2_ice.png">
        </div>

        <p class="text_ice_americano font_50">아이스 아메리카노</p>
        <p class="text_ice font_60">Ice</p>

        <div id="btn_order" class="btn_order">
            <img hidden="hidden" class="img_relative" name="img_not_yet" src="/static/imgs/ROBA_2-2_선택완료_notyet.png">
            <img hidden="hidden" class="img_relative" name="img_yet" src="/static/imgs/ROBA_2_button.png">
            <img hidden="hidden" class="img_relative" name="img_clicked" src="/static/imgs/ROBA_2_button_pushed.png">
        </div>

    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/script/Common.js"></script>
    <script>
        var radio_hot = [window.document.img_hot_unselect, window.document.img_hot_selected, window.document.img_hot_clicked];
        var radio_ice = [window.document.img_ice_unselect, window.document.img_ice_selected, window.document.img_ice_clicked];
        var radio_can = [window.document.img_can_unselected, window.document.img_hotcan_selected, window.document.img_icecan_selected];
        var btn = [window.document.img_not_yet, window.document.img_yet, window.document.img_clicked]

        var img_hot_temp = 0;
        var img_ice_temp = 0;
        var btn_temp = 0;
        var can_temp = 0;

        function init() {
            img_hidden(radio_hot);
            img_hidden(radio_ice);
            img_hidden(btn);
            img_hidden(radio_can);

            var option_get = document.getElementById("option").innerText;
            if (option_get == "none") {
                img_hot_temp = 0;
                img_ice_temp = 0;
                can_temp = 0;
            } else if (option_get == "0") {
                img_hot_temp = 0;
                img_ice_temp = 1;
                btn_temp = 1;
                can_temp = 2;
                document.getElementById("btn_order").addEventListener("mouseup", function () { mouse_up("Btn") })
            } else if (option_get == "1") {
                img_hot_temp = 1;
                img_ice_temp = 0;
                btn_temp = 1;
                can_temp = 1;
                document.getElementById("btn_order").addEventListener("mouseup", function () { mouse_up("Btn") })
            }
            radio_hot[img_hot_temp].hidden = false;
            radio_ice[img_ice_temp].hidden = false;
            btn[btn_temp].hidden = false;
            radio_can[can_temp].hidden = false;

            document
                .getElementById("radio_hot")
                .addEventListener("mouseup", function () {
                    mouse_up("Hot")
                })
            document
                .getElementById("radio_hot")
                .addEventListener("mousedown", function () {
                    mouse_down("Hot")
                })
            document
                .getElementById("radio_hot")
                .addEventListener("mouseleave", function () {
                    mouse_out("Hot")
                })

            document
                .getElementById("radio_ice")
                .addEventListener("mouseup", function () {
                    mouse_up("Ice")
                })
            document
                .getElementById("radio_ice")
                .addEventListener("mousedown", function () {
                    mouse_down("Ice")
                })
            document
                .getElementById("radio_ice")
                .addEventListener("mouseleave", function () {
                    mouse_out("Ice")
                })

            document.getElementById("btn_order").addEventListener("mousedown", function(){mouse_up("Btn")}) //추가
            cnt_init();
            countdown('/Order_Timeout');
        }

        function mouse_down(value) { //hot : 1, ice : 0
            cnt = 10;

            if (value == "Hot") {
                img_hidden(radio_hot);
                radio_hot[2].hidden = false;
            } else if (value == "Ice") {
                img_hidden(radio_ice);
                radio_ice[2].hidden = false;
            }

        }

        function mouse_out(value) {
            if (value == "Hot") {
                img_hidden(radio_hot);
                radio_hot[img_hot_temp].hidden = false;
            } else if (value == "Ice") {
                img_hidden(radio_ice);
                radio_ice[img_ice_temp].hidden = false;
            }
        }

        function mouse_up(value) {
            img_hidden(radio_hot);
            img_hidden(radio_ice);
            img_hidden(radio_can);
            if (value == "Hot") {
                img_hot_temp = 1;
                img_ice_temp = 0;
                can_temp = 1;
                img_hidden(btn);
                btn_temp = 1;
                document
                    .getElementById("btn_order")
                    .addEventListener("mouseup", function () {
                        mouse_up("Btn")
                    })
                btn[btn_temp].hidden = false
            } else if (value == "Ice") {
                img_hot_temp = 0;
                img_ice_temp = 1;
                can_temp = 2;
                img_hidden(btn);
                btn_temp = 1;
                document
                    .getElementById("btn_order")
                    .addEventListener("mouseup", function () {
                        mouse_up("Btn")
                    })
                btn[btn_temp].hidden = false

            } else if (value == "Btn") {
                if(img_hot_temp == 1 || img_ice_temp == 1){
                    img_hidden(btn);
                    btn[2].hidden = false;
                    document.getElementById("btn_order").addEventListener("mouseup", function(){
                        postForm("/Menu_Select_Option", img_hot_temp)
                    })
                    document.getElementById("btn_order").addEventListener("mouseleave", function(){
                        img_hidden(btn);
                        btn[1].hidden = false;
                    })
                }
            } 

            radio_hot[img_hot_temp].hidden = false;
            radio_ice[img_ice_temp].hidden = false;
            radio_can[can_temp].hidden = false;

        }


        function img_hidden(array) {
            for (var i = 0; i < array.length; i++) {
                array[i].hidden = true
            }
        }

        /*function goBack() {
            sendGet("/Menu_Select_Blending");
        }*/

        var timeT = document.getElementById("runningtime");

        var cnt = 10;
    </script>
</body>

</html>