<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Menu_Select_Option</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Menu_Select_Option.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onload="init();" oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>  <!--시작시 init()실행 / 우클릭,드래그,선택 방지 -->
    <div id="option" hidden="hidden">{{option}}</div>
    <div id="wrap">
        <p class="select_tem font_50">음료 온도 선택</p>
        <img alt="line" class="line" src="/static/imgs/ROBA_2-2_line.png">
        <img alt="backArrow" class="backArrow" src="/static/imgs/ROBA_23_backArrow.png" onclick="sendGet('/Menu_Select_Blending')">

        <!-- 3가지(안눌렀을때, 눌렀을 때, 띄었을 때) 이미지 -->
        <div id="radio_hot" class="btn_hot">
            <img hidden="hidden" class="img_relative" name="img_hot_unselect"
                src="/static/imgs/ROBA_2-2_btnUnselected.png">
            <img hidden="hidden" class="img_relative" name="img_hot_selected"
                src="/static/imgs/ROBA_2-2_btnSelected.png">
            <img hidden="hidden" class="img_relative" name="img_hot_clicked" src="/static/imgs/ROBA_2-2_btnClicked.png">
            <img class="hot" src="/static/imgs/ROBA_2-2_hot.png">
        </div>
        <p class="text_hot_americano font_50">뜨거운 아메리카노</p>
        <p class="text_hot font_60">Hot</p>

        <!-- 3가지(기본,ice,hot) 이미지 -->
        <div id="radio_can" class="can">
            <img hidden="hidden" class="img_relative" name="img_can_unselected" src="/static/imgs/ROBA_2-2_can.png">
            <img hidden="hidden" class="img_relative" name="img_hotcan_selected"
                src="/static/imgs/ROBA_2-2_can_hot.gif">
            <img hidden="hidden" class="img_relative" name="img_icecan_selected"
                src="/static/imgs/ROBA_2-2_can_ice.gif">
        </div>

        <!-- 3가지(안눌렀을때, 눌렀을 때, 띄었을 때) 이미지 -->
        <div id="radio_ice" class="btn_ice">
            <img hidden="hidden" class="img_relative" name="img_ice_unselect"
                src="/static/imgs/ROBA_2-2_btnUnselected.png">
            <img hidden="hidden" class="img_relative" name="img_ice_selected"
                src="/static/imgs/ROBA_2-2_btnSelected.png">
            <img hidden="hidden" class="img_relative" name="img_ice_clicked" src="/static/imgs/ROBA_2-2_btnClicked.png">
            <img class="ice" src="/static/imgs/ROBA_2-2_ice.png">
        </div>

        <p class="text_ice_americano font_50">아이스 아메리카노</p>
        <p class="text_ice font_60">Ice</p>

        <!-- 3가지(온도선택하지 않았을 때, 했을 때, 눌렀을 때) 이미지 -->
        <div id="btn_order" class="btn_order">
            <img hidden="hidden" class="img_relative" name="img_not_yet" src="/static/imgs/ROBA_2-2_선택완료_notyet.png">
            <img hidden="hidden" class="img_relative" name="img_yet" src="/static/imgs/ROBA_2_button.png">
            <img hidden="hidden" class="img_relative" name="img_clicked" src="/static/imgs/ROBA_2_button_pushed.png">
        </div>

    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/script/Common.js"></script>
    <script src="/static/script/Menu_Select_Option.js"></script>
    
</body>

</html>