<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu_Select_Blending</title>
</head>
<body>
    <h1>Menu_Select_Blending</h1>
    <div>hello world3</div>
    <form action="/Menu_Select_Blending", method="post">

        <div class="three fields">
            <div class="field">
                <label>Blender_1</label>
                <input type="text" name="Blender_1" value={{number}}>
            </div>
            <div class="field">
                <label>Blender_2</label>
                <input type="text" name="Blender_2" value={{number}}>
            </div>
            <div class="field">
                <label>Blender_3</label>
                <input type="text" name="Blender_3" value={{number}}>
            </div>
        </div>

      <input type="submit">
    </form>
</body>
</html>
