<html>

<head>
    <title>제목</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Menu_Select_Blending.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body onload="init();" oncontextmenu='return false' onselectstart='return false' ondragstart='return false'> <!--시작시 init()실행 / 우클릭,드래그,선택 방지 -->
    <div id="wrap">
        <!-- 좌 단 -->
        <div class="menu_select">
            <p id="text_choice_bean" class="font_50">원두 조합 선택</p>
        </div>
        
        <!-- 커피 변경시 수정항목 -->
        <img id="img_description_0" class="description" src="/static/imgs/ROBA_2-1_coffee3.png" alt="description_0" />
        <p id="coffee_text_0" class="coffee_sort font_35">{{name_blend_0}}</p>
        <p id="coffee_description_0" class="coffee_description font_20_yellow">{{sum_blend_0}}</p>
        <img id="img_description_1" class="description" src="/static/imgs/ROBA_2-1_coffee2.png" alt="description_1" />
        <p id="coffee_text_1" class="coffee_sort font_35">{{name_blend_1}}</p>
        <p id="coffee_description_1" class="coffee_description font_20_yellow">{{sum_blend_1}}</p>
        <img id="img_description_2" class="description" src="/static/imgs/ROBA_2-1_coffee1.png" alt="description_2" />
        <p id="coffee_text_2" class="coffee_sort font_35">{{name_blend_2}}</p>
        <p id="coffee_description_2" class="coffee_description font_20_yellow">{{sum_blend_2}}</p>

        <P id="text_recommend_ratio" class="font_40_red">추천 비율</P>
        <div class="img_recommend_btn">
            <div id="img_recommend_btn_0">
                <img hidden id="img_recommend_btn_0_select" class="img_relative"
                    src="/static/imgs/ROBA_2-1_newBtnBG.png">
                <img hidden id="img_recommend_btn_0_unselect" class="img_relative"
                    src="/static/imgs/ROBA_2-1_newBtnBG_pushed.png">
                <P class="text_recommend_btn font_40_red">산미<br>블렌드</P>
                <P class="text_recommend_btn_ratio font_25_yellow">50/20/30</P>
            </div>
            <div id="img_recommend_btn_1">
                <img hidden id="img_recommend_btn_1_select" class="img_relative"
                    src="/static/imgs/ROBA_2-1_newBtnBG.png">
                <img hidden id="img_recommend_btn_1_unselect" class="img_relative"
                    src="/static/imgs/ROBA_2-1_newBtnBG_pushed.png">
                <P class="text_recommend_btn font_40_red">바디감<br>블렌드</P>
                <P class="text_recommend_btn_ratio font_25_yellow">30/40/30</P>
            </div>
            <div id="img_recommend_btn_2">
                <img hidden id="img_recommend_btn_2_select" class="img_relative"
                    src="/static/imgs/ROBA_2-1_newBtnBG.png">
                <img hidden id="img_recommend_btn_2_unselect" class="img_relative"
                    src="/static/imgs/ROBA_2-1_newBtnBG_pushed.png">
                <P class="text_recommend_btn font_40_red">단맛<br>블렌드</P>
                <P class="text_recommend_btn_ratio font_25_yellow">40/20/40</P>
            </div>
        </div>

        <!-- 경계 선 -->
        <img id="img_backarrow" onclick="sendGet('/Main')" src="/static/imgs/ROBA_23_backArrow.png" alt="logo" />
        <img id="img_line" src="/static/imgs/ROBA_2-1_bgLine.png" alt="logo" />

        <!-- 우단 -->
        <p id="text_americano_kor" class="font_60">아메리카노</p>
        <p id="text_americano_eng" class="font_40">Americano</p>

        <div id="div_remain_box">
            <img src="/static/imgs/ROBA_2-1_leftRatioBG.png" id="_ratio" alt="alt">
            <p id="text_remain_text" class="font_30_red" name="remain_font">남은 비율:</p>
            <p id="text_remain_ratio" class="font_30_red" name="remain_ratio">100%</p>
        </div>


        <div id="div_blender_0" class="div_blender">
            <p class="text_blender font_40">{{name_blend_0}}</p>
            <div class="img_blender_cup">
                <div id="img_blender_0_fill" class="img_blender_fill fill_normal"></div>
                <img class="img_relative" src="/static/imgs/ROBA_2-1_beaker_empty.png" alt="logo0" />
            </div>
            <div class="img_blender_bg blender_bg">
                <img class="img_blender_arrow" src="/static/imgs/ROBA_2-1_ratioBtn.png" alt="logo" />
                <p id="text_blender_0_percent" class="percent font_60">{{blender_1}}%</p>
                <p id="blender_0_down" class="btn_down"></p>
                <p id="blender_0_up" class="btn_up"></p>
            </div>
        </div>

        <div id="div_blender_1" class="div_blender">
            <p class="text_blender font_40">{{name_blend_1}}</p>
            <div class="img_blender_cup">
                <div id="img_blender_1_fill" class="img_blender_fill  fill_dark"></div>
                <img class="img_relative" src="/static/imgs/ROBA_2-1_beaker_empty.png" alt="logo1" />
            </div>
            <div class="img_blender_bg blender_bg">
                <img class="img_blender_arrow" src="/static/imgs/ROBA_2-1_ratioBtn.png" alt="logo" />
                <p id="text_blender_1_percent" class="percent font_60">{{blender_2}}%</p>
                <p id="blender_1_down" class="btn_down"></p>
                <p id="blender_1_up" class="btn_up"></p>
            </div>
        </div>

        <div id="div_blender_2" class="div_blender">
            <p class="text_blender font_40">{{name_blend_2}}</p>
            <div class="img_blender_cup">
                <div id="img_blender_2_fill" class="img_blender_fill fill_light"></div>
                <img class="img_relative" src="/static/imgs/ROBA_2-1_beaker_empty.png" alt="logo2" />
            </div>
            <div class="img_blender_bg blender_bg">
                <img class="img_blender_arrow" src="/static/imgs/ROBA_2-1_ratioBtn.png" alt="logo" />
                <p id="text_blender_2_percent" class="percent font_60">{{blender_3}}%</p>
                <p id="blender_2_down" class="btn_down"></p>
                <p id="blender_2_up" class="btn_up"></p>
            </div>
        </div>

        <div id="btn_order" class="order">
            <img hidden="hidden" class="img_relative" name="img_not_yet" src="/static/imgs/ROBA_2-2_선택완료_notyet.png">
            <img hidden="hidden" class="img_relative" name="img_yet" src="/static/imgs/ROBA_2_button.png">
            <img hidden="hidden" class="img_relative" name="img_pushed" src="/static/imgs/ROBA_2_button_pushed.png">
        </div>
    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/script/Common.js"></script>
    <script src="/static/script/Menu_Select_Blending.js"></script>

</body>

</html>