<html>

<head>
    <title>제목</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Order_Timeout.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div id="wrap">

        <p id="state" class="font_60">죄송합니다.</p>
        <p id="timeover" class="font_80">주문시간이 초과되었습니다.</p>
        <p id="screen" class="font_60">00초 후 처음 화면으로 돌아갑니다.</p>

        <img id="line_Animation" alt="line" src="/static/imgs/err_line.gif"/>
        <button id="order_continue" value="" onclick="window.history.back()">
    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/script/Common.js"></script>
    <script type="text/javascript">

        var timeT = document.getElementById("screen");

        window.onload = function () {
            cnt = 5;
            countdown();
        }

        function countdown() {
            if (cnt == 0) {
                sendGet('/Main'); 
            } else {
                timeT.innerText = "0" + cnt + "초 후 처음 화면으로 돌아갑니다.";
                setTimeout('countdown()', 1000);
                cnt--;
            }
        }
    </script>

</body>

</html>