#line {
    top: 294px;
    left: 823px;
}

#line_change
{
    width: 275px;
    height: 18px;
    top : -4px;
    left: -2px;
    
}

#thanks {
    top: 311px;
    left: 861px;
}
#state {
    top: 385px;
    left: 465px;               
}

#roba_Logo {
    top: 579px;
    left: 576px;
    width: 768px;
}

           