#left_img {
    position: absolute;
    background-image: url("/static/imgs/ROBA_2-1_newBG.png");
    background-size: 630px 460px;
    background-repeat: no-repeat;
    width: 630px;
    height: 460px;
}

#order_confrim {
    top: 124px;
    left: 168px;
}

#take_out1 {
    top: 481px;
    left: 137px;
}

#take_out2 {  
    top: 676px;
    left: 208px;
}

#take_out3 {
    top: 838px;
    left: 201px;
}

#arrow {
    top: 43px;
    left: 651px;
}

#line {
    top: 420px;
    left: 626px;
}

#amekor {
    top: 115px;
    left: 1128px;
}

#americano {
    top: 179px;
    left: 1160px;
}

#hot {
    top: 320px;
    left: 857px;
}

#ice {
    top: 316px;
    left: 864px;
}

#can {
    top: 451px;
    left: 716px;
}

.name {
    left: 1169px;
}

.hot_ice {
    top: 368px;
}

.tera {
    top: 475px;
}
.brazil {
    top: 608px;
}

.burunde {
    top: 741px;
}

.value {
    left: 1564px;
}

.btn {
    top: 881px;
    left: 1097px;
}
#order {
    top: 881px;
    left: 1097px;
    background-image: url("/static/imgs/ROBA_3_button.png");
    background-color: rgb(246, 243,238);
    background-repeat: no-repeat;
    border: none;
    background-position: 0 0;
    height: 200px;
    width: 460px;
}
