@charset "utf-8";

@font-face {
    font-family: 'GongGothicLight';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


html *{
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
}

#wrap {
    width: 1920px;
    height: 1080px;
    background-color: rgb(246, 243, 238);
}

.img_relative{
    top: 0;
    left: 0;
}

.menu_select {
    background-image: url("/static/imgs/ROBA_2-1_newBG.png");
    background-size: 630px 460px;
    background-repeat: no-repeat;
    width: 630px;
    height: 460px;
}

.z_top{
    z-index: 10;
}

.z_back{
    z-index: 0;
}

.font_100{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 74pt;
    color: rgb(116, 72, 33);
}

.font_80{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 59pt;
    color: rgb(116, 72, 33);
}

.font_70{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 52pt;
    color: rgb(116, 72, 33);
}

.font_60{
    font-size: 44pt;
    font-family: 'GongGothicLight', sans-serif;
    color: rgb(116, 72, 33);
}
.font_50{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 37pt;
    color: rgb(116, 72, 33);
}

.font_40{
    font-family: 'GongGothicLight' , sans-serif;
    font-size: 30pt;
    color: rgb(116, 72, 33);
}

.font_40_red{
    font-family: 'GongGothicLight', sans-serif;
    font-size: 30pt;
    color: rgb(192,104,90);
}

.font_30_red{
    font-family: 'GongGothicLight', sans-serif;
    color: rgb(192,104,90);
    font-size: 24pt;
}



