@charset "utf-8";

#state {
    position: absolute;
    top: 358px;
    left: 560px;
}

#roba_Logo {
    top: 463px;
    left: 658px;
    width: 550px;
}

#line_Animation {
    top: 700px;
    left: 155px;
}

#order_confirm {
    top: 752px;
    left: 729px;
    height: 204px;
    width: 466px;
}