#text_choice_bean {
    top: 116px;
    left: 158px;
}


/*좌단 설명부*/
.description{
    left: 62px;
}
#img_description_0 {
    top: 259px;
    width: 470px;
}
#img_description_1 {
    top: 392px;
    width: 420px;
}
#img_description_2 {
    top: 525px;
    width: 360px;
}
/* 좌하단 추천 비율*/
#text_recommend_ratio{
    top: 657px;
    left: 232px;
}
.img_recommend_btn{
    top:718px;
    left:46px;
}
.img_recommend_btn > *{
    width: 168px;
    height: 277px;
}
#img_recommend_btn_0{
    left: 0px;
}
#img_recommend_btn_1{
    left: 182px;
}
#img_recommend_btn_2{
    left: 364px;
}
.text_recommend_btn{
    top : 82px;
    left: 0px;
    text-align: center;
    width: 168px;
}
.text_recommend_btn_ratio{
    top: 191px;
    left: 0px;
    text-align: center;
    width: 168px;
}



/*중앙 백버튼과 선*/
#img_backarrow {
    top: 43px;
    left: 651px;
}
#img_line {
    top: 420px;
    left: 626px;
}

/*우상단 아메리카노 텍스트*/
#text_americano_kor {
    top: 115px;
    left: 1128px;
}
#text_americano_eng {
    top: 179px;
    left: 1160px;
}

/*우 중단 남은 비율 표시*/
#div_remain_box {
    top: 275px;
    left: 1500px;
}
#text_remain_text {
    top: 18.5px;
    left: 40px;
    width: 150px;
}
#text_remain_ratio {
    top: 18.5px;
    left: 180px;
    text-align: right;
    width: 100px;
}

/*중단 원두 상자*/
.div_blender{
    height: 421px;
    width: 386px;
    top: 390px;
}
#div_blender_0{
    left: 700px;
}

#div_blender_1{
    left: 1086px;
}

#div_blender_2{
    left: 1472px;
}

/*중단 원두 이름*/
.text_blender {
    top: 0px;
    width: 386px;
    text-align: center;
}
/*중단 커피 컵 그림*/
.img_blender_cup{
    top: 85px;
    left: 138px;
}
.img_blender_fill{
    width: 100px;
    left: 5px;
    top: 132px;
}
.fill_normal{
    background-color: rgb(192,147,117);
}
.fill_dark{
    background-color: rgb(97,59,23);
}
.fill_light{
    background-color: rgb(153,118,84);
}
/*하단 비율 버튼*/
.img_blender_bg{
    background-image: url("/static/imgs/ROBA_2-1_ratioBG.png");
    background-repeat: no-repeat;
    width: 330px;
    height: 99px;
}
.blender_bg{
    top: 322px;
    left: 28px;
}
.img_blender_arrow{
    top: 39px;
    left: 39px;
}


.percent{
    text-align: right;
    width: 152px;
    top: 14px;
    left: 90px;
}

.btn_down {
    width: 30px;
    height: 30px;
    top: 39px;
    left: 39px;
}
.btn_up {
    width: 30px;
    height: 30px;
    top: 39px;
    left: 254px;
}

.order {
    top: 881px;
    left: 1097px;
    width: 360px;
    height: 120px;
}
