#text_choice_bean {
    top: 116px;
    left: 158px;
}
#text_sort {
    top: 227px;
    left: 275px;
}
/*좌 상단 정렬 버튼*/
.radio{
    top: 277px;
    height: 95px;
}
#sort_0 {
    left: 45px;
    width: 164px;
}
#sort_1 {
    left: 215px;
    width: 197px;
}
#sort_2 {
    left: 420px;
    width: 159px;
}

/*좌 하단 설명부*/
.description{
    left: 62px;
}
#img_description_0 {
    top: 473px;
    width: 470px;
}
#img_description_1 {
    top: 663px;
    width: 420px;
}
#img_description_2 {
    top: 852px;
    width: 360px;
}

/*중앙 백버튼과 선*/
#img_backarrow {
    top: 43px;
    left: 651px;
}
#img_line {
    top: 420px;
    left: 626px;
}

/*우상단 아메리카노 텍스트*/
#text_americano_kor {
    top: 115px;
    left: 1128px;
}
#text_americano_eng {
    top: 179px;
    left: 1160px;
}

/*우 중단 남은 비율 표시*/
#div_remain_box {
    top: 275px;
    left: 1482px;
}
#text_remain_text {
    top: 33px;
    left: 40px;
    width: 150px;
}
#text_remain_ratio {
    top: 33px;
    left: 180px;
    text-align: right;
    width: 100px;
}


.order {
    top: 881px;
    left: 1097px;
}

/*중단 원두 이름*/
#text_blender_0 {
    top: 390px;
    left: 680px;
}
#text_blender_1 {
    top: 390px;
    left: 1150px;
}
#text_blender_2 {
    top: 390px;
    left: 1540px;
}

/*중단 커피 컵 그림*/
#img_blender_0_cup {
    top: 475px;
    left: 838px;
}
#img_blender_1_cup {
    top: 475px;
    left: 1224px;
}
#img_blender_2_cup {
    top: 475px;
    left: 1610px;
}


.img_blender_0_bg {
    background-image: url("/static/imgs/ROBA_2-1_ratioBG.png");
    background-repeat: no-repeat;
    width: 330px;
    height: 99px;
    top: 712px;
    left: 728px;
}
#img_blender_0_arrow {
    top: 39px;
    left: 39px;
}

.img_blender_1_bg {
    background-image: url("/static/imgs/ROBA_2-1_ratioBG.png");
    background-repeat: no-repeat;
    width: 330px;
    height: 99px;
    top: 712px;
    left: 1114px;
}
#img_blender_1_arrow {
    top: 39px;
    left: 39px;
}

.img_blender_2_bg {
    background-image: url("/static/imgs/ROBA_2-1_ratioBG.png");
    background-repeat: no-repeat;
    width: 330px;
    height: 99px;
    top: 712px;
    left: 1500px;
}
#img_blender_2_arrow {
    top: 39px;
    left: 39px;
}

.percent{
    text-align: right;
    width: 152px;
    top: 14px;
    left: 90px;
}

.btn_down {
    width: 30px;
    height: 30px;
    top: 39px;
    left: 39px;
}
.btn_up {
    width: 30px;
    height: 30px;
    top: 39px;
    left: 254px;
}